@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div class="container">
        <div class="col col-md-offset-2">
            <h2>Welcome to Maersk Container Management System</h2>
        </div>
        <img class="img-responsive" src="~/images/containers.jpg" />
    </div>
</body>